{% extends 'index.html' %}
{% block home %}
<div class="mt-5 jumbotron jumbotron-fluid-mb-5 " >
    <div class="container">
      <h1 class="display-4">The greatest hospitals in the world</h1>
      <p class="mt-5 lead">Our hospitals provide world class facilties with the best doctors and surgeons available on Earth.</p>
    </div>
  </div>
<div class="jumbotron jumbotron-fluid-mb-5">
    <div class="container">
      <h1 class="display-4">World renowned and a leader in medical research</h1>
      <p class="mt-5 lead">We are a world renowned insitution and consistently provide our clients with the cutting edge in medical technology and research to allow them to liive their best and longest that they can.</p>
    </div>
  </div>
<div class="jumbotron jumbotron-fluid-mb5">
    <div class="container">
      <h1 class="display-4">Save lives, save hearts</h1>
      <p class="mt-5 lead">We consistently strive to protect all that you and your family love and for the protection of health of all that come to us.</p>
    </div>
  </div>
{% endblock home %}