{% extends 'index.html' %} 
{% block home %}
<form>
    <fieldset>
    <div class="mt-5 mx-5 form-group" > 
      <label for="exampleFormControlInput1" >Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" "> 
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1" class="mx-5" > Select</label>
      <select class="mx-5 form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2" class="mx-5" >Multiple select</label>
      <select multiple class="mx-5 form-control" id="exampleFormControlSelect2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1" class="mx-5">Comments</label>
      <textarea class="mx-5 form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1" class="mx-5">Example file input</label>
        <input type="file" class="mx-5 form-control-file" id="exampleFormControlFile1">
      </div>
    <button type="submit" class="mx-5 mb-5 btn btn-primary">Submit</button>
    </fieldset>
  </form>
{% endblock home %} 