{% extends 'index.html' %}
{% block home %}
<div class="mt-5 container">

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://images.unsplash.com/photo-1643780668909-580822430155?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="card-body">
          <p class="card-text">Recent developments in Crispr Cas-9 technology have proved to be extremely promising.</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://images.unsplash.com/photo-1561284081-ebf6c977bbde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1139&q=80" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="card-body">
          <p class="card-text">The correlation between social media usage and narcissicism inteenagers.</p>
          <div class="d-flex justify-content-between align-items-center">
           
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://images.unsplash.com/photo-1530026405186-ed1f139313f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"  width="200"  height="200" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="card-body">
          <p class="card-text">New technologies for 3-d printed organ transplants are increasingly showing positive results according to a new survey.</p>
          <div class="d-flex justify-content-between align-items-center">
          
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm"> 
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src=https://images.unsplash.com/photo-1595670322505-4de61b9cdf47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80""  width="200"  height="200" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="card-body">
          <p class="card-text">The link between a simple life, happiness, and physical health in old age.</p>
          <div class="d-flex justify-content-between align-items-center">
            
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
    
{% endblock home %}